<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1096225796527-t3f3ph2vv44qh9q7krummu78j2h789gi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096225796527-t3f3ph2vv44qh9q7krummu78j2h789gi</string>
	<key>API_KEY</key>
	<string>AIzaSyA5SOcexeqp7Ry-GpBlacaZup2I6FTKDO8</string>
	<key>GCM_SENDER_ID</key>
	<string>1096225796527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laurennicoleroth.Wedding</string>
	<key>PROJECT_ID</key>
	<string>wedding-lnr</string>
	<key>STORAGE_BUCKET</key>
	<string>wedding-lnr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096225796527:ios:d728303abd88242b</string>
	<key>DATABASE_URL</key>
	<string>https://wedding-lnr.firebaseio.com</string>
</dict>
</plist>